@media screen and ( min-width:769px) {
    table{
        margin-left: 100px;
    }
    table{
        width: 700px;
    }
    .yourorder{
        width: 900px;
    }
    input{
        width: 500px;
    }
}
*{
    color: #000F35;
}
table{
    margin-top: 50px;
}
.billingdetail table tr td {
    padding-bottom: 10px;
}

input[type=radio]{
    width: auto;
    margin-right: 5px;
}
/* table tr td{
    border: black 1px solid;
} */
@media screen and ( max-width:768px) {
    table{
        width: 70%;
    }
    .yourorder div{
        padding-left: 10px;
    }
}
.yourorder{
    margin-top: 50px;
    background-color: #D1E0E8;
    margin-bottom: 50px;
    border-radius: 10px;
    /* background: url(../image/beautiful-tropical-beach-sea-ocean-with-white-cloud-blue-sky-copyspace.jpg) no-repeat center center fixed; */
}
#cforder{
    background-color: #000F35;
    color: white;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.title{
    font-weight: bold;
    margin-top: 50px;
}
.t{
    font-weight: bold;
    width: 150px;
}
.orderbody{
    padding-top: 10px;
}
.tt{
    padding-top: 10px;
}