.body{
    color: #000F35;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.filter-group {
    border-bottom: 1px solid #e4e4e4;
}
.filter-group .card-header {
    border-bottom: 0;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

a {
    color: #000F35;
    text-decoration: none;
    background-color: transparent;
}
ul{
    list-style: none;
    padding-inline-start: 0%;
}
.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-light {
    background-color: #fff;
    border-color: #e4e4e4;
}
.btn-light {
    color: #212529;
    background-color: #e4e4e4;
    border-color: #e4e4e4;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #000F35;
    background-color: #000F35;
}
.no-gutters > .col, .no-gutters > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 768px){
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.card .img-wrap {
    overflow: hidden;
}
.card-product-list .img-wrap {
    height: 220px;
    border-radius: 0.37rem 0 0 0.37rem;
}
.img-wrap {
    overflow: hidden;
    position: relative;
}
.img-wrap {
    text-align: center;
    display: block;
}
[class*=card-product] .badge {
    top: 10px;
    left: 10px;
    position: absolute;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.37rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.img-wrap img {
    height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
}
img {
    vertical-align: middle;
    border-style: none;
}
.no-gutters > .col, .no-gutters > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 768px){
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.col-md-6{
    position: relative;
    width: 100%;
}
.card-product-list .info-main {
    padding: 1.5rem 1rem;
}
@media (min-width: 576px){
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.card-product-list .info-aside {
    padding: 1.5rem 1rem;
    border-left: 1px solid #e4e4e4;
    height: 100%;
}
.price-wrap {
    letter-spacing: -0.7px;
}
.btn-darkblue{
    background-color: #000F35;
    color: white;
}
.card-product-list {
    margin-bottom: 20px;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #000F35;
    border-color: #000F35;
}
.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.border-bottom {
    border-bottom: 1px solid #e4e4e4 !important;
}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
@media (min-width: 768px){
    .mr-md-auto, .mx-md-auto {
        margin-right: auto !important;
    }
}
@media (min-width: 576px){
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}
.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}
.btn:hover{
    color: #7e7e7e;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}
.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
h2, .h2 {
    font-size: 2rem;
}
.breadcrumb {
    background: url(../image/beautiful-tropical-beach-sea-ocean-with-white-cloud-blue-sky-copyspace.jpg) no-repeat center center fixed;
    font-size: 18px;
    font-weight: 500;
}
.top h2{
    margin-bottom: 50px;
}
@media (min-width: 320px){
    .border-bottom{
        margin-left: 18px;
    }

}